<div ng-switch="$ctrl.edit">
    <div ng-switch-when=true>
        <form ng-submit="$ctrl.editForm()" >
            <div class="grid-container-row">
                <div class="grid-container-item-grid">
                    <h3>Editar Libro</h3>
                    <label class="grid-container__form-label">
                        Título:
                        <input class="grid-container__form-input" type="text" ng-model="$ctrl.book.Title"/>
                    </label>
                    <br>
                    <label class="grid-container__form-label">
                        Fecha Publicación:
                        <input  type="date" date='dd-MM-yyyy' ng-model="$ctrl.date" />
                    </label>
                    <br>
                    <label class="grid-container__form-label">
                        Total Páginas:
                        <input  class="grid-container__form-input" type="numeric" ng-model="$ctrl.book.PageCount" />
                    </label>
                    <br>
                    <label class="grid-container__form-label">
                        Extracto:
                        <textarea  class="grid-container__form-textarea" ng-model="$ctrl.book.Excerpt" ></textarea>
                    </label>
                    <br>
                    <label class="grid-container__form-label">
                        Descripción:
                        <textarea  class="grid-container__form-textarea" ng-model="$ctrl.book.Description"></textarea>
                    </label>
                    <br>
                    <input class="grid-container__form-submit" type="submit" value="Editar" />
                </div>
            </div>
        </form>
    </div>
    <div ng-switch-default>
        <div class="grid-container-row">
            <div class="grid-container-item-grid">
                <header>
                    <h3><strong>{{$ctrl.book.Title}}</strong></h3>
                    <h5>Fecha publicación: {{$ctrl.book.PublishDate | date:'dd/MM/yyyy'}}</h5>
                </header>
                <section>
                    <br>
                    {{$ctrl.book.Description}}
                </section>
                <footer>
                    <hr>
                    <h5>Id Libro: {{$ctrl.book.ID}}</h5>
                    <h5>Total Páginas: {{$ctrl.book.PageCount}}</h5>
                </footer>
            </div>
        </div>
    </div>
</div>
