        <nav>
            <ul class="main-header__menu">
                <li class="main-header__menu-item"><a href="/" type="button">Inicio</a></li>
                <li class="main-header__menu-item"><a href="/books" type="button">Libros</a></li>
                <li class="main-header__menu-item"><a href="/authors" type="button">Autores</a></li>
                <li class="main-header__menu-item"><a href="/coverphotos" type="button">Portadas</a></li>
            </ul>
        </nav>
