<div class="grid-container-row">
    <div class="grid-container-item-grid-summary-coverphoto">
        <header>
            <nav>
                <ul class="grid-container-item-grid-summary-menu">
                    <li class="grid-container-item-grid-summary-menu-li" ng-click="$ctrl.viewcoverphotoDetails($ctrl.coverphoto.ID,true)"><a><img src="/img/editar.png"></a></li>
                    <li class="grid-container-item-grid-summary-menu-li" ng-click="$ctrl.deleteItem($ctrl.coverphoto.ID)"><a><img src="/img/error.png"></a></li>
                </ul>
            </nav>
            <h3><strong>ID: {{$ctrl.coverphoto.ID}}</strong></h3>
        </header>
        <section class="grid-container-item-grid-summary__section-coverphoto">
            <br>
            <img class="grid-container-item-grid-summary__img" src="{{$ctrl.coverphoto.Url}}">
        </section>
        <footer>
            <hr>
            <h5>Id Libro: {{$ctrl.coverphoto.IDBook}}</h5>
            <button type="button" ng-click="$ctrl.viewcoverphotoDetails($ctrl.coverphoto.ID)">Detalle</button>
        </footer>
    </div>
</div>
