<div class="grid-container-row">
    <div class="grid-container-item-grid-summary">
        <header>
            <nav>
                <ul class="grid-container-item-grid-summary-menu">
                    <li class="grid-container-item-grid-summary-menu-li" ng-click="$ctrl.viewauthorDetails($ctrl.author.ID,true)"><a><img src="/img/editar.png"></a></li>
                    <li class="grid-container-item-grid-summary-menu-li" ng-click="$ctrl.deleteItem($ctrl.author.ID)"><a><img src="/img/error.png"></a></li>
                </ul>
            </nav>
            <h3><strong>ID: {{$ctrl.author.ID}}</strong></h3>
        </header>
        <section class="grid-container-item-grid-summary__section">
            <br>
            {{$ctrl.author.FirstName + " " + $ctrl.author.LastName}}
        </section>
        <footer>
            <hr>
            <button type="button" ng-click="$ctrl.viewauthorDetails($ctrl.author.ID,false)">Detalle</button>
        </footer>
    </div>
</div>