
<form ng-submit="$ctrl.newForm()" >
    <div class="grid-container-row">
        <div class="grid-container-item-grid">
            <h3>Nuevo Libro</h3>
            <label class="grid-container__form-label">
                Título:
                <input class="grid-container__form-input" "type="text" ng-model="$ctrl.book.Title"/>
            </label>
            <br>
            <label class="grid-container__form-label">
                Fecha Publicación:
                <input  type="date" date='dd-MM-yyyy' ng-model="$ctrl.book.PublishDate" />
            </label>
            <br>
            <label class="grid-container__form-label">
                Total Páginas:
                <input  class="grid-container__form-input" type="numeric" ng-model="$ctrl.book.PageCount" />
            </label>
            <br>
            <label class="grid-container__form-label">
                Extracto:
                <textarea  class="grid-container__form-textarea" ng-model="$ctrl.book.Excerpt" ></textarea>
            </label>
            <br>
            <label class="grid-container__form-label">
                Descripción:
                <textarea  class="grid-container__form-textarea" ng-model="$ctrl.book.Description"></textarea>
            </label>
            <br>
            <input class="grid-container__form-submit" type="submit" value="Nuevo" />
        </div>
    </div>
</form>