<div ng-switch="$ctrl.edit">
    <div ng-switch-when=true>
        <form ng-submit="$ctrl.editForm()" >
            <div class="grid-container-row">
                <div class="grid-container-item-grid">
                    <h3>Editar Autor</h3>
                    <label class="grid-container__form-label">
                        IDBook:
                        <input class="grid-container__form-input" "type="text" ng-model="$ctrl.author.IDBook"/>
                    </label>
                    <br>
                    <label class="grid-container__form-label">
                        FirstName:
                        <input class="grid-container__form-input" "type="text" ng-model="$ctrl.author.FirstName"/>
                    </label>
                    <br>
                    <label class="grid-container__form-label">
                        LastName:
                        <input class="grid-container__form-input" "type="text" ng-model="$ctrl.author.LastName"/>
                    </label>
                    <br>
                    <input class="grid-container__form-submit" type="submit" value="Editar" />
                </div>
            </div>
        </form>
    </div>
    <div ng-switch-default>
        <div class="grid-container-row">
            <div class="grid-container-item-grid">
                <header>
                    <h3><strong>ID: {{$ctrl.author.ID}}</strong></h3>
                </header>
                <section>
                    <br>
                    {{$ctrl.author.FirstName + " " + $ctrl.author.LastName}}
                </section>
                <footer>
                    <hr>
                    <h5>Id Libro: {{$ctrl.author.IDBook}}</h5>
                </footer>
            </div>
        </div>
    </div>
</div>