<div class="grid-container-column">
    <filter filter="$ctrl.fields" options="$ctrl.options" on-order-by="$ctrl.onOrderBy(order)" on-filter="$ctrl.onFilter(filter)"></filter>
    <br>
    <h2>Autores</h2>
    <div><a href="/authors/new" ><img src="/img/mas.png"></a></div>
    <author-list class="grid-container-grid" authors="$ctrl.authors" filter="$ctrl.filter" order-by="$ctrl.orderBy"></author-list>
</div>