<div ng-switch="$ctrl.edit">
    <div ng-switch-when=true>
        <form ng-submit="$ctrl.editForm()" >
            <div class="grid-container-row">
                <div class="grid-container-item-grid">
                    <h3>Editar Portada</h3>
                    <label class="grid-container__form-label">
                        IDCoverphoto:
                        <input class="grid-container__form-input" "type="text" ng-model="$ctrl.coverphoto.ID"/>
                    </label>
                    <br>
                    <label class="grid-container__form-label">
                        Url:
                        <input class="grid-container__form-input" "type="text" ng-model="$ctrl.coverphoto.Url"/>
                    </label>
                    <br>
                    <label class="grid-container__form-label">
                        IDBook:
                        <input class="grid-container__form-input" "type="text" ng-model="$ctrl.coverphoto.IDBook"/>
                    </label>
                    <br>
                    <input class="grid-container__form-submit" type="submit" value="Editar" />
                </div>
            </div>
        </form>
    </div>
    <div ng-switch-default>
        <div class="grid-container-row">
            <div class="grid-container-item-grid">
                <header>
                    <h3><strong>ID: {{$ctrl.coverphoto.ID}}</strong></h3>
                </header>
                <section>
                    <br>
                    <img src={{$ctrl.coverphoto.Url}}>
                </section>
                <footer>
                    <hr>
                    <h5>Id Libro: {{$ctrl.coverphoto.IDBook}}</h5>
                </footer>
            </div>
        </div>
    </div>
</div>
