<div class="main-filter">
    <form class="grid-container-grid" name="myForm" novalidate>
        <div ng-repeat="(key,value) in $ctrl.options">
            <div>
                <label for="{{value.value}}" class="grid-container__form-label">{{value.text}}:</label></br>
                <input class="grid-container__form-input"   type="{{value.type}}" ng-model="$ctrl.filter[value.value]" ng-change="$ctrl.onFilter({filter: $ctrl.filter})" id="{{value.value}}" name="{{value.value}}"  />
            </div>
        </div>
        <div>
            <label>Ordenar por: </label><br>
            <select  ng-model="$ctrl.orderBy" ng-change="$ctrl.onOrderBy({order: $ctrl.orderBy})">
                <option value="">Sin Ordenar</option>
                <option ng-repeat="option in $ctrl.options" ng-value="option.value">{{option.text}}</option>
            </select>
        </div>
    </form>
</div>