<div class="grid-container-column">
    <filter filter="$ctrl.fields" options="$ctrl.options" on-order-by="$ctrl.onOrderBy(order)" on-filter="$ctrl.onFilter(filter)"></filter>
    <br>
    <h2>Portadas</h2>
    <div><a href="/coverphotos/new" ><img src="/img/mas.png"></a></div>
    <coverphoto-list class="grid-container-grid" coverphotos="$ctrl.coverphotos" filter="$ctrl.filter" order-by="$ctrl.orderBy"></coverphoto-list>
</div>
