<div class="grid-container-column">
    <filter filter="$ctrl.fields" options="$ctrl.options" on-order-by="$ctrl.onOrderBy(order)" on-filter="$ctrl.onFilter(filter)"></filter>
    <br>
    <h2>Libros</h2>
    <div><a href="/books/new" ><img src="/img/mas.png"></a></div>
    <book-list class="grid-container-grid" books="$ctrl.books" filter="$ctrl.filter" order-by="$ctrl.orderBy"></book-list>
    <br>
</div>