
<form ng-submit="$ctrl.newForm()" >
    <div class="grid-container-row">
        <div class="grid-container-item-grid">
            <h3>Nueva Portada</h3>
            <label class="grid-container__form-label">
                IDCoverphoto:
                <input class="grid-container__form-input" "type="text" ng-model="$ctrl.coverphoto.ID"/>
            </label>
            <br>
            <label class="grid-container__form-label">
                Url:
                <input class="grid-container__form-input" "type="text" ng-model="$ctrl.coverphoto.Url"/>
            </label>
            <br>
            <input class="grid-container__form-submit" type="submit" value="Nuevo" />
        </div>
    </div>
</form>
