body{
    background              : #F5F5F5;
}

.main-header__logo{
    margin                  : 0 5% 0 5%; /** Todos los hijos separados top,right,button,left **/
}

.main-header__menu{
    list-style-type         : none;
    margin                  : 0;
    padding                 : 0 5% 0 5%; /** Buscamos el efecto de nostrar el menú a lo largo de la index **/
    border-bottom           : 1px solid #E0E0E0;
    border-top              : 1px solid #E0E0E0;
    background              : #FFFFFF;
    box-shadow              : 5px 5px 2.5px grey;
}

.main-header__menu-item{
    display                 : inline-block; /** Creamos el menú horizontal **/
    text-align              : center;
    padding                 : 15px;
    border-right            : 1px solid #E0E0E0;  /** Solo el borde derecho, para que no sobre-escriba el borde general **/
}

.main-header__menu-item:first-child{
    border-left             : 1px solid #E0E0E0;  /** Solo el borde derecho, para que no sobre-escriba el borde general **/
}

.main-header__menu-item-link{
    text-align              : center;
    text-decoration         : none;
    color                   : #000000;
}


.main-container{
    /** Generamos el layout principal en forma de columnas **/
    display                 : flex;
    flex-direction          : column;
    justify-content         : space-between;
    background              : transparent;
    width                   : 100%;
}

.main-section{
    margin                  : 0 5% 0 5%; /** Todos los hijos separados top,right,button,left **/
    background              : #FFFFFF;
    box-shadow              : 5px 5px 2.5px grey;
    width                   : 90%;
}

.grid-container-row{
    display                 : flex;
    flex-direction          : row;
    justify-content         : space-around;
}

.grid-container-column{
    display                 : flex;
    flex-direction          : column;
    padding                 : 3%;
}

.grid-container-grid{
    display                 : grid;
    grid-template-columns   : repeat(3,25%);
    grid-column-gap         : 3%;
    grid-row-gap            : 20px;
    justify-content         : center;
}

.grid-container-item-grid{
    width                   : 90%;
    display                 : flex;
    flex-direction          : column;
    justify-content         : space-between;
    border-style            : dotted;
    border-width            : 5px;
    padding                 : 3%;
    margin                  : 3%;
}

.grid-container-item-grid-summary{
    width                   : 90%;
    display                 : flex;
    flex-direction          : column;
    justify-content         : flex-start;
    border-style            : dotted;
    border-width            : 5px;
    padding                 : 3%;
    height                  : 450px;
}

.grid-container-item-grid-summary__img{
    height                  : 120px; 
}

.grid-container-item-grid-summary-menu{
    display                 : flex;
    justify-content         : flex-end;
    flex-direction          : row;
    list-style-type         : none;
}

.grid-container-item-grid-summary-menu-li{
    margin                  : 3px;
    cursor                  : pointer; 
}

.grid-container-item-grid-summary__section{
    height                  : 150px;
}

.grid-container-item-grid-summary-coverphoto{
    width                   : 90%;
    display                 : flex;
    flex-direction          : column;
    justify-content         : flex-start;
    border-style            : dotted;
    border-width            : 5px;
    padding                 : 3%;
    height                  : 582px;
}

.grid-container-item-grid-summary__section-coverphoto{
    height                  : 365px;
    text-align				: center;

}

.grid-container-item{
    margin                  : 40px;
    width                   : 25%;
    display                 : flex;
    flex-direction          : column;
    justify-content         : space-between;
    border-style            : dotted;
    border-width            : 5px;
    align-items             : center;
}

.grid-container-img{
    margin                  : 20px;
}

.grid-container-p{
    text-align              : center;
    font-size               : 35px;
    font-weight             : bold;
}

.grid-container__form-label{
    width                   : 100px;
}

.grid-container__form-input {
    width                   : 150px;
}

.grid-container__form-textarea {
    width                   : 450%;
    height                  : 150px;
}

.grid-container__form-submit {
    width                   : 50px;
}

.main-footer{
    margin                  : 3% 5% 0 5%; /** Todos los hijos separados top,right,button,left **/
}

.main-filter{
    border-style            : dotted;
    border-width            : 5px;
    padding                 : 5px;
}
