<book book="$ctrl.book" edit="$ctrl.edit"></book>
<hr>
<h3>Autores Relacionados</h3>
<br>
<author-list class="grid-container-grid" authors="$ctrl.authors"></author-list>
<hr>
<h3>Portadas Relacionados</h3>
<br>
<coverphoto-list class="grid-container-grid" coverphotos="$ctrl.coverphotos"></coverphoto-list>
<br>