<div class="grid-container-row">
    <div class="grid-container-item">
        <a href="/books">
            <img class="grid-container-img" src="/img/book.png">
            <p class="grid-container-p" >Libros</p>
        </a>
    </div>
    <div class="grid-container-item">
        <a href="/authors">
            <img class="grid-container-img" src="/img/author.png">
            <p class="grid-container-p" >Autores</p>
        </a>
    </div>
    <div class="grid-container-item">
        <a href="/coverphotos">
            <img class="grid-container-img" src="/img/cover.jpeg">
            <p class="grid-container-p" >Portadas</p>
        </a>
    </div>
</div>
