
<form ng-submit="$ctrl.newForm()" >
    <div class="grid-container-row">
        <div class="grid-container-item-grid">
            <h3>Nuevo Autor</h3>
            <label class="grid-container__form-label">
                IDBook:
                <input class="grid-container__form-input" "type="text" ng-model="$ctrl.author.IDBook"/>
            </label>
            <br>
            <label class="grid-container__form-label">
                FirstName:
                <input class="grid-container__form-input" "type="text" ng-model="$ctrl.author.FirstName"/>
            </label>
            <br>
            <label class="grid-container__form-label">
                LastName:
                <input class="grid-container__form-input" "type="text" ng-model="$ctrl.author.LastName"/>
            </label>
            <br>
            <input class="grid-container__form-submit" type="submit" value="Nuevo" />
        </div>
    </div>
</form>