<div class="grid-container-row">
    <div class="grid-container-item-grid-summary">
        <header>
            <nav>
                <ul class="grid-container-item-grid-summary-menu">
                    <li class="grid-container-item-grid-summary-menu-li" ng-click="$ctrl.viewbookDetails($ctrl.book.ID,true)"><a><img src="/img/editar.png"></a></li>
                    <li class="grid-container-item-grid-summary-menu-li" ng-click="$ctrl.deleteItem($ctrl.book.ID)"><a><img src="/img/error.png"></a></li>
                </ul>
            </nav>
            <h3><strong>{{$ctrl.book.Title}}</strong></h3>
            <h5>Fecha publicación: {{$ctrl.book.PublishDate | date:'dd/MM/yyyy'}}</h5>
        </header>
        <section class="grid-container-item-grid-summary__section">
            <br>
            {{$ctrl.showSummary($ctrl.book.Excerpt,0,150)}}
        </section>
        <footer>
            <hr>
            <h5>Id Libro: {{$ctrl.book.ID}}</h5>
            <h5>Total Páginas: {{$ctrl.book.PageCount}}</h5>
            <button type="button" ng-click="$ctrl.viewbookDetails($ctrl.book.ID,false)">Detalle</button>
        </footer>
    </div>
</div>
